/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/* Base */
body{
    min-height: 100vh;
    margin: 0;
    background-image: url("images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 70%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

main{
    width: 88%;
    margin: auto;
}

/* Photo and button management */
#photo-container {
    background: url("images/pattern-bg.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin: 20px auto;
    padding-bottom: 10px;
    position: relative;
}

#photo-container figure{
    margin-top: 0px;
}

#photo-container figure img{
    width: 100%;
    border-radius: 5px;
    margin-top: 33px;
    box-shadow: 0px 38px 38px -18px rgba(32, 32, 70, 0.35);
}

#photo-container div{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}

#photo-container div button{
    background-color: white;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-container div button:hover{
    background-color: #f4f4fc;
}

#photo-container div button img{
    height: 14px;
}

#photo-container div button:first-child{
    border-radius: 20px 0px 0px 20px;
}

#photo-container div button:last-child{
    border-radius: 0px 20px 20px 0px;
}

/* Text management */
section p{
    text-align: center;
}

section p:first-child{
    background: url("images/pattern-quotes.svg");
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 24px;
    font-size: 0.56em;
    font-weight: 300;
    line-height: 25px;
    color: hsl(240, 38%, 20%);
}

section p:last-child{
    font-size: 0.48em;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

section p:last-child span{
    color: hsl(240, 18%, 77%);
    font-weight: 500;
}

#second-person{
    display: none;
}

/* Attribution management */

.attribution{
    margin-top: 50px;
    font-size: 0.35em;
    text-align: center;
}

.attribution a{
    color:hsl(240, 38%, 20%);
    font-weight: bold;
}

@media screen and (min-width: 710px){
    #photo-container{
        width: 70%;
    }
}

@media screen and (min-width: 1040px){
    body{
        background-size: 44%;
    }

    main{
        margin-top: 60px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #photo-container{
        width: 50%;
        background-size: auto 100%;
        margin-left: 40%;
    }

    #photo-container figure{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #photo-container figure img{
        width: 90%;
    }

    section{
        width: 50%;
        position: absolute;
        left: 12%;
    }

    section p{
        text-align: start;
        width: 80%;
    }

    section p:first-child{
        background-position-x: 18%;
        padding-top: 42px;
        font-size: 0.7em;
        line-height: 28px;
    }

    section p:last-child{
        flex-direction: row;
    }

    section p:last-child span{
        margin-left: 5px;
    }

    #photo-container div{
        justify-content: start;
        position: absolute;
        bottom: 20px;
        left: 180px;
    }

    #photo-container div button{
        height: 50px;
        width: 50px;
    }

    #photo-container div button img{
        height: 18px;
    }
    
    #photo-container div button:first-child{
        border-radius: 25px 0px 0px 25px;
    }
    
    #photo-container div button:last-child{
        border-radius: 0px 25px 25px 0px;
    }
}

@media screen and (min-width: 1440px){
    section{
        left: 6%;
    }

    section p:first-child{
        font-size: 0.9em;
        line-height: 35px;
    }

    section p{
        text-align: start;
        width: 90%;
    }

    #photo-container div button{
        height: 60px;
        width: 60px;
    }

    #photo-container div button img{
        height: 20px;
    }
    
    #photo-container div button:first-child{
        border-radius: 30px 0px 0px 30px;
    }
    
    #photo-container div button:last-child{
        border-radius: 0px 30px 30px 0px;
    }
}



